name: WebdriverIO CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

# Permissões necessárias para publicar no GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install Dependencies
      run: npm install

    - name: Run WebdriverIO Tests
      run: npm run test
      continue-on-error: true # Continua mesmo se o teste falhar (para gerar o relatório)

    - name: Generate Allure Report
      if: always()
      run: |
        npm install -g allure-commandline
        npx allure generate allure-results --clean -o allure-report

    - name: Upload Allure Report Artifact
      if: always()
      uses: actions/upload-pages-artifact@v3
      with:
        path: allure-report

  deploy:
    needs: test
    if: always() # Executa mesmo se os testes falharem
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
